<% if user_signed_in? %>
	<h6><%= current_user.name %></h6>
	<h6><%= current_user.email %></h6>
	<h1>My photographies</h1>
	<h1><%= link_to 'add photo', new_photography_path %></h1>
		


<% else %>
	<h1>Welcom to the Instagram</h1>
	<% @users.each do |user| %>
		<%= user.name %></br>
	<% end %>
<% end %>
